.banner img {
    width: 100%;
    height: auto;
}

.banner-slider {
    display: flex;
    flex-direction: column;
    align-items: center; /* 水平方向に中央揃え */
}

.banner-images {
    display: flex;
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center;    /* 垂直方向に中央揃え */
    width: 100%;            /* 必要に応じて幅を調整 */
}

.banner-image {
    max-width: 100%;
    height: auto;
}



